<% title "About" %>
<div class="container">
	<div class="togle-unit">
	  <h1>About this...</h1>
	  <div>
	    This is a system designed to help improve the internal communication and information sharing within the 2K Shipping and Trading Operations department.

	    if you see some stuff that looks weird or unclear, it is probably the fault of the sources of the information. The system only presents what it can find in the internet or from other sources and it doesn't alter the data.
	  </div>
	</div>
</div>