<% title "New shipment status" %>
<h3>
  <strong><%= @shipment_status.status %></strong>
</h3>
<br />
<h5>
	<%= @shipment_status.description %>
</h5>
<br />
<%= link_to 'Edit', edit_shipment_status_path(@shipment_status) %> |
<%= link_to 'Back', shipment_path(@shipment_status.shipment_id) %>
